<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="views/jquery.min.js"></script>
    <script type="text/javascript" src="views/js/socket.io.js"></script>
    <script type="text/javascript" src="views/js/delivery.js"></script>
  </head>
  <body>
    <div class="main">
      <section class="body">
        <a>"Help"</a>
        <form name="upform" id="upload" action="/upload" method="POST" enctype="multipart/form-data">
          <input type="file" name="image">
          <input type="submit"value="Upload Image">
        </form>
        <script>
        var form = document.forms.namedItem("upform");

        form.addEventListener('submit', (err) =>{
          var output = document.querySelector("div"),
              data   = new FormData(form);

          var req    = new XMLHttpRequest();
          req.open("POST", "/upload", true);
          req.onload = (evr) => {
            if(req.status === 200) {
              console.log('uploaded');
            } else {
              console.log('error', req.status);
            }
          };
          req.send(data);
          ev.preventDefualt();
        }, false);
        </script>
      </section>
    </div>
  </body>
</html>
