<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Chrome, Firefox OS, Opera and Vivaldi -->
    <meta name="theme-color" content="#FF9012">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#FF9012">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#FF9012">

    <title>Robot Server</title>
  </head>
  <body ng-cloak ng-controller="MainController">
    <div class="main-container" ng-cloak>
      <div ng-view autoscroll="true"></div>
    </div>
  </body>
</html>
